//////////////////////////////////
//
//  color
//
//////////////////////////////////

/* Color Theme Swatches in RGBA */
$color1: rgba(216, 120, 65, 1);
$color2: lighten(rgba(242, 213, 196, 1), 50%);
$color3: rgba(165, 63, 26, 1);
$color4: rgba(191, 123, 99, 1);
$color5: rgba(89, 17, 1, 1);

@media screen and (max-width: 1024px) {
    .atss-menu {
        $root: '.atss-menu';

        #{$root}__banner {
            & .title {
                display: none;
              } 
          
            & .title-small {
                display: block;
                color: $color2;

                &:hover {
                    color: $color2;
                }
            }
        }

        #{$root}__items {
            &.active {
                display: flex;
                flex-direction: column;
                position: absolute;
                
                width: 30%;
                height: auto;

                top: 3rem;
                right: 0;
                background-color: $color5;
                margin: 0;
                padding: 1rem;
                
                border-bottom-left-radius: 1rem;;

                #{root}__banner {
                    display: none !important;
                }
            }

            &.disabled {
                display: none;
                
                #{root}__banner {
                    display: flex;
                }
            }
        }

        #{$root}__item {
            width: 100%;
            height: 3rem;
            text-align: right;
            padding: .2rem 1rem;
            margin: 0;

            border-left: none;
            border-right: none;
            border-bottom: 2px solid darken($color5, 20%);

        }

        #{$root}__toggler {
            display: block;
            padding: .4rem;
            height: 100%;
            color: white;
        }
    }
}