
//////////////////////////////////
//
//  color
//
//////////////////////////////////

/* Color Theme Swatches in RGBA */
$color1: white;
$color2: lighten(rgba(242, 213, 196, 1), 50%);
$color3: #7B84DB;
$color4: #7B84DB;
$color5: #192DA1;


.text-img {
  max-height: 15rem;
  width: auto;
  border-radius: 10px;
}

.atss {
  $root: ".atss";

  height: 100%;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: space-between;

  #{$root}__background {
    background-color: $color1;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0.2;

    overflow: hidden;
  }
}

///////////////////////////////////////////////////
//
//  Primary menu
//
///////////////////////////////////////////////////

@media screen and (min-width: 992px) {
  .atss-nav {
    margin: 0 !important;
    background-color:transparent !important;
    justify-content: flex-end;
  }
}

.header {
  & img {
    max-height: 30rem;
    width: 100%;

    border-radius: 4px;
  }
}

.atss-menu {
  $root: '.atss-menu';
  color: white !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  z-index: 9999;

  display: flex;

  background-color: $color5;
  font-size: 1.35rem;

  &:child {
    color: white !important;
  }

  & .active {
    background-color: lighten($color5, 20%);
  }

  #{$root}__toggler {
    display: none;
  }

  #{$root}__phone {
    background-color: red;
    color: white;
    padding: .2rem 1rem;
    border-radius: .3rem;
    margin: auto 1rem;

    z-index: 9999;
  }

  #{$root}__items {
    display: flex;
    margin: auto 0;

    background-color: transparent;
    justify-content: space-evenly;
    list-style-type: none;
    color: $color2;

    padding-left: 0;
    margin: 0 1rem;

    height: 100%;
    align-items: center;

    * + * {
      border-left: 2px solid darken($color5, 50%);
    }
  }

  #{$root}__item {
    padding-left: 2rem;
    padding-right: 2rem; 

    &:hover, &:focus {
      background-color: lighten($color5, 20%);
      cursor: pointer;
    }
  }

  #{$root}__banner {
    display: flex;
    align-items: center;

    & .title {
      color: $color2;

      &:hover {
        color: $color2;
      }
    } 

    & .title-small {
      color: white !important;
    }

    & .logo {
      width: auto;
      height: 100%;
    }
  }
}

///////////////////////////////////////////////////
//
//  Home
//
///////////////////////////////////////////////////

.home {
  $root: '.home';

  width: 95%;
  min-height: 10rem;

  border-radius: 4px;
  margin: auto;

  padding-top: 3rem;
}

///////////////////////////////////////////////////
//
//  Services
//
///////////////////////////////////////////////////

.services {
  $root: '.services';

  width: 95%;
  min-height: 10rem;

  border-radius: 4px;
  margin: auto;

  display: flex;
  flex-direction: column;
  
  #{$root}__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #{$root}__card {
    width: 100%;
    & * {
      font-size: 1.3rem;
      color: white;
    }
  }
}

///////////////////////////////////////////////////
//
//  Cards
//
///////////////////////////////////////////////////

.atss-card {
  $root: '.atss-card';

  display: flex;
  flex-direction: column;

  margin: 1rem;
  width: 100%;

  border-radius: .4rem;

  background-color: rgba(238, 238, 238, 0.98);;

  #{$root}__title {
    font-size: 1.6rem;
    padding: 1rem;
    
    border-bottom: 3px solid rgba(0, 65, 34, 0.863);
    border-radius: .4rem;

    background-color: darken($color4, 20%);
    color: white;

    text-align:center;
  }

  #{$root}__body {
    font-size: 1.4rem;
    margin: 1rem;
  }

  &.-xs {
    background-color: transparent;
  }
}


///////////////////////////////////////////////////
//
//  Footer
//
///////////////////////////////////////////////////

.atss-footer {
  background-color: $color5!important;
  color: white!important;
  flex-shrink: 1;

  a {
    color: white
  }

  &__content {

  }
}

.slider {
  $root: '.slider';
  
  max-width: 100%;

  #{$root}__container {
    max-width: 60%;
    max-height: 20rem;
    margin: auto;
  }

  #{$root}__item {
    width: 50%; 
    height: 20rem;
  
    background-size: 100% 100%;
  }
} 
