*{padding: 0; margin: 0}

html {
    font-size: 14px;
    text-align: justify;
}

h1 {
    font-size: 1.3rem;  
    text-align: center;
    margin-bottom: 5px;
}

body {
    width: 100vw;
    background-color: lightgray;    
}

header {
    grid-row: 1;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;

    height: 50px;

    display: grid;
    grid-template-columns: 65% 30%;
    grid-template-rows: 7.5vh;
    grid-column-gap: 10px;

    background-color: cornflowerblue;

    z-index: 10;
}

.appel-container {
    width: 100%;
    display: flex;
    font-size: 1.75rem;
}
.appel {
    grid-column: 1;
    background-color: red;
    color: white;
    width: 100%;
    height: 50px;
    text-decoration: none;
    
    display: flex;

    align-items: center;
    justify-content: center;
}
.appel:hover {
    text-decoration: none;
}

main {
    padding-top: 50px;
}

article {
    min-height: 100vh;
    border: 2px solid black;
    margin: 5px;
}

article p {
    position: relative;
}

.img-left {
    float: left;
}

.img-right {
    float: right;
}

img {
    width: 100px;
    height: auto;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}